/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* background-color: #fff; */
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ----------------------------------------------------- */
.Navbar{
    color: #fff;
    height:80px;
    background-color: rgb(55, 55, 68);
    display: flex;
}
.container{
    padding: 20px 0;
    position: absolute;
    right: 0;
    left: 70%;
}
input{
    display: inline-block;    
    height: 45px;
    margin: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
}